Cache Invalidation

Unsafe methods should invalidate the effective request URI, per [RFC 7234, section 4.4](https://docs.w3cub.com/http/rfc7234/#section-4.4)